#scrollTop {

}

#app-container {
	position: fixed !important;
	width: 100vw !important;
	// height: 100% !important;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
	overscroll-behavior-x: none !important;
	overscroll-behavior-y: none !important;
	// top: 0;
	left: 0;
	bottom: 0;
	// padding-bottom: 48px;
	margin-bottom: 48px;
	// bottom: -6vh;
}



// #explore-container {
// 	position: absolute;
// 	width: 100vw !important;
// 	height: 94vh !important;
// 	overflow-y: hidden !important;
// 	overflow-x: hidden !important;
// 	top: 0;
// 	left: 0;
// 	margin-bottom: 6vh;
// 	// bottom: -6vh;
// }