@import "../../../styles.scss";

mat-dialog-container {
	background-color: transparent !important;
}

#add-comment-container {
	z-index: 98;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	background-color: $primary-color;
	
	#add-comment-card {
		// min-height: 30rem;
		// min-width: 22rem;
		background-color: $primary-color;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// color: $dark-accent-color;
		box-shadow: none;//0px 0px 4px 3px rgba(0, 0, 0, 0.25);

		mat-card-content {
			width: 100%;
			height: 100%;
			.error-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 12px;
				p {
					color: $delete-red !important;
					text-align: center;
					margin: 8px;
				}
				div {
					p {
						text-align: center;
						margin: 8px;
						color: $delete-red !important;
					}
				}
			}
			
			p {
				// color: $dark-accent-color !important;
			}
		}

		#comment-form {
			width: 100%;
			display: flex;
			height: 70%;

			#comment-content {
				width: 100%;
				height: 100%;
				box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
				border: none;
				margin-top: 1rem;
				margin-bottom: 1rem;
				padding: .5rem;
				border-radius: 3px;
			}
		}

		mat-card-actions {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			button {
				width: 50%;
				margin: 12px;
				background-color: $main-color;
			}
		}
	}
}

.error-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 12px;
	p {
		color: $delete-red !important;
		text-align: center;
		margin: 8px;
	}
	div {
		p {
			text-align: center;
			margin: 8px;
			color: $delete-red !important;
		}
	}
}
