<!-- <mat-card id="add-drug-container">
	<mat-card-content>
		<form id="add-drug-form" [formGroup]="form" (submit)="addDrug()">
			<mat-form-field class="full-width">
				<mat-label>Drug Name</mat-label>
				<mat-select name="drugId" formControlName="drugId">
					<mat-option
						*ngFor="let drug of drugs"
						value="{{ drug.drugId }}"
					>
						{{ drug.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="form-field">
				<mat-label>Dosage</mat-label>
				<input
					matInput
					name="dosage"
					formControlName="dosage"
					type="text"
				/>
			</mat-form-field>
			<button type="submit" style="display:none">hidden submit</button>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button (click)="addDrug()">
			Add Drug
		</button>
	</mat-card-actions>
</mat-card> -->

<mat-card id="add-drug-container">
	<mat-card-content>
		<form (submit)="addDrug()" [formGroup]="form">
			<fieldset id="add-drug-form">
				<mat-form-field class="full-width">
					<mat-label>Drug Name</mat-label>
					<mat-select name="drugId" formControlName="drugId">
						<mat-option
							*ngFor="let drug of drugs"
							value="{{ drug.drugId }}"
						>
							{{ drug.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="form-field">
					<mat-label>Dosage</mat-label>
					<input
						matInput
						name="dosage"
						formControlName="dosage"
						type="text"
					/>
				</mat-form-field>
				<button type="submit" style="display:none">hidden submit</button>
			</fieldset>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button (click)="addDrug()">
			Add Drug
		</button>
	</mat-card-actions>
</mat-card>
