<!-- <mat-card id="create-profile-card">
	<mat-card-content>
		<form id="create-profile-form" [formGroup]="form" (submit)="submitProfile()">
			<mat-form-field class="full-width">
				<mat-label>Age</mat-label>
				<input matInput name="age" formControlName="age" />
			</mat-form-field>
			<mat-form-field class="full-width">
				<mat-label>Weight</mat-label>
				<input matInput name="weight" formControlName="weight" />
			</mat-form-field>
			<div class="create-profile-checkbox">
				<mat-checkbox name="covidVaccine" formControlName="covidVaccine"
					>Vaccinated</mat-checkbox
				>

				<mat-checkbox name="smoker" formControlName="smoker"
					>Smoker</mat-checkbox
				>
			</div>
			<div class="create-profile-checkbox">
				<mat-checkbox name="drinker" formControlName="drinker"
					>Drinker</mat-checkbox
				>

				<mat-checkbox name="optOut" formControlName="optOut"
					>Opt Out of Public Stories</mat-checkbox
				>
			</div>
			<button type="submit" style="display:none">hidden submit</button>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button (click)="submitProfile()">
			Login
		</button>
	</mat-card-actions>
</mat-card> -->
<div class="form-container">
	<h1>Profile Information.</h1>
	<form [formGroup]="form">
		<fieldset>
			<input placeholder="Age" name="age" formControlName="username"/>
			<div class="tos">
				<input type="checkbox" formControlName="covidVaccine"/>
				<label>Vaccinated</label>
			</div>
			<div class="tos">
				<input type="checkbox" formControlName="smoker"/>
				<label>Smoker</label>
			</div>
			<div class="tos">
				<input type="checkbox" formControlName="drinker"/>
				<label>Drinker</label>
			</div>
			<div class="tos">
				<input type="checkbox" formControlName="optOut"/>
				<label>Opt out of public journals</label>
			</div>
		</fieldset>
		<button type="submit">
			Create Profile
		</button>
	</form>
</div>