@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* You can add global styles to this file, and also import other style files */

.mat-mdc-dialog-container .mdc-dialog__surface {
	background-color: transparent !important;
	border-radius: 12px;
}

.mat-dialog-container {
	border-radius: 12px;
	background-color: transparent !important;
}



$primary-color: #171717;
$secondary-color: #4e415f;
$light-accent-color: #2b262d;
$dark-accent-color: #b39cd0;
//$contrast-color: #00C2A9;
//$main-color: #373241;
$main-color: #4e415f;
$contrast-color: #673ab7;
// $contrast-color: #766a7f;
$light-grey: #dbdbdb;
$light-grey-button: #b7afbb;
$light-grey-button-text: #3d3545;
$dark-grey: #4b4453;
$delete-red: #ff4d74;

$mat-indigo: $light-accent-color;
$mat-purple: $light-accent-color;

* {
	margin: 0;
	padding: 0;
	border: 0;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
	outline: $contrast-color;
	outline-color: $contrast-color !important;
	-moz-focusring-color: $contrast-color !important;
}

input[type="range"]::-moz-range-thumb {
	background-color: #685e85 !important;
}

input[type="range"]::-moz-range-track {
	background-color: #685e85 !important;
}

/* Set the color of the slider thumb */
// input[type="range"]::-webkit-slider-thumb {
// 	background-color: #685e85 !important;
// }

// /* Set the color of the slider track */
// input[type="range"]::-webkit-slider-runnable-track {
// 	background-color: #685e85 !important;
// }

::-webkit-scrollbar {
	display: none;
	width: 0;
	background: transparent;
}

// input[type="range"] {
	
// 	// width: 100%;
//   	// height: 10px;
//   	// border-radius: 5px;
//   	// background-color: #ddd;
//   	// margin: 10px 0;

//   /* Specific styles for Android */
//   @media (max-width: 767px) {
//     /* Styles for Android devices with screen width less than 767px */
//     -webkit-appearance: none;
//     background-color: transparent;

//     &::-webkit-slider-thumb {
//       /* Styles for the slider thumb on Android */
//       -webkit-appearance: none !important;
//       width: 20px !important;
//       height: 20px !important;
//       background-color: #ccc !important;
//       border-radius: 50% !important;
//     }
//   }
	
// }

input[type="range"]::-moz-range-thumb {
	background-color: #685e85;
}

input[type="range"]::-moz-range-track {
	background-color: #685e85;
	height: 24px;
	border-radius: 12px;
}

/* Set the color of the slider thumb */
input[type="range"]::-webkit-slider-thumb {
	background-color: #685e85;
	// margin-bottom: 4px !important;
}

/* Set the color of the slider track */
input[type="range"]::-webkit-slider-runnable-track {
	background-color: #685e85;
	border-radius: 12px;
	height:24px;
}

input[type="range"] {
	/* Common styles for all platforms */
	width: 100%;
	// max-height: 16px !important;
	border-radius: 5px !important;
	background-color: transparent !important;
	margin: 10px 0 0 0;
	padding-bottom: 8px !important;
	// transform: scaleY(0.7) !important;
	-moz-appearance: none !important; 
	// overflow-y: hidden !important; 
	-webkit-appearance: none !important;
	/* Specific styles for Android */
	@media (max-width: 767px) {
	  /* Styles for Android devices with screen width less than 767px */
	  -webkit-appearance: none !important;
	  background-color: transparent !important;
  
	  &::-webkit-slider-thumb {
		/* Styles for the slider thumb on Android */
		-webkit-appearance: none !important;
		z-index: 50 !important;
		width: 24px !important;
		height: 24px !important;
		border-radius: 360px;
		margin-bottom: 24px !important;
		background-color: $dark-accent-color !important;
		// border-radius: 50%;
	  }
	}
  
	/* Styles for other browsers */
	&::-moz-range-thumb {
	  /* Styles for the slider thumb on Firefox */
	  width: 24px !important;
	  height: 24px !important;
	  border-radius: 360px;
	  background-color: $dark-accent-color !important;
	//   border-radius: 50%;
	}
  
	&::-ms-thumb {
	  /* Styles for the slider thumb on Edge */
	  width: 24px;
	  height: 24px;
	  background-color: $dark-accent-color !important;
	  border-radius: 360px;
	}
  }
  



// ::ng-deep .mat-form-field.mat-focused {
//     .mat-form-field-label {
//         color: $light-accent-color !important;
//     }
//     .mat-form-field-ripple {
//         background-color: $light-accent-color !important;
// 		border-bottom-color: $light-accent-color;
//     }
//     .mat-form-field-required-marker {
//         color: $light-accent-color !important;
//     }
//     .mat-input-element {
//         color: $light-accent-color !important;
//     }
// }

.mdc-line-ripple {
	background-color: green !important;
}

.mat-form-field-underline {
	background-color: green;
	border-color: $dark-accent-color !important;
}

.mdc-text-field__input {
	caret-color: $light-accent-color !important;
}

.mdc-text-field__input:focus {
	caret-color: $light-accent-color !important;
}

.mat-slider-thumb {
	background-color: $dark-accent-color !important;
	/* change to the desired color */
}

.mat-slider-track-fill {
	background-color: $dark-accent-color !important;
	/* change to the desired color */
}



::ng-deep .mat-form-field-ripple {
	background-color: $dark-accent-color !important;
	/* change to the desired color */
}

::ng-deep .mat-form-field-underline {
	background-color: $dark-accent-color !important;
	/* change to the desired color */
}

mat-dialog-container {
	background-color: $primary-color !important;
}

// button {
// 	background-color: $light-grey-button !important;
// 	color: $light-grey-button-text !important;
// 	span {
// 		color: $light-grey-button-text !important;
// 	}
// }

input[type="checkbox"]:checked {
	background-color: $dark-accent-color !important;
	border-color: $dark-accent-color !important;
	box-shadow: none;
}

button {
	background-color: $main-color !important;
	color: #f8f8f8 !important;
	letter-spacing: 1px;
	margin-top: 36px;
	width: 50%;
	border-radius: 8px;
	padding: 12px;
}

input,
textarea {
	width: 100% !important;
	color: #f8f8f8;
	// margin: 8px 0px 8px 0px ;
	background-color: $dark-grey;
	// padding: 12px;
	border-radius: 8px;
}

textarea::selection {
	background-color: transparent;
}

textarea::-moz-selection {
	background-color: transparent;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
	color: $light-grey !important;
}

.mat-mdc-text-field-wrapper {
	height: 40px !important;
	flex: auto;
}

html body.mat-typography div.cdk-overlay-container div.cdk-global-overlay-wrapper div#cdk-overlay-0.cdk-overlay-pane mat-bottom-sheet-container#cdk-dialog-0.mat-bottom-sheet-container.cdk-dialog-container.ng-tns-c39-1.ng-trigger.ng-trigger-state.ng-star-inserted app-bottom-sheet.ng-star-inserted div.bottom-sheet-container mat-form-field.mat-mdc-form-field.ng-tns-c8-2.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-pristine.ng-valid.ng-star-inserted.ng-touched div.mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c8-2.mdc-text-field--filled.mdc-text-field--no-label div.mat-mdc-form-field-flex.ng-tns-c8-2 div.mat-mdc-form-field-infix.ng-tns-c8-2 input#mat-input-0.mat-mdc-input-element.ng-tns-c8-2.ng-pristine.ng-valid.mat-mdc-form-field-input-control.mdc-text-field__input.cdk-text-field-autofill-monitored.ng-touched {
	color: $light-grey !important;
}

.mat-input-0 {
	color: $light-grey !important;
}

mat-list-item {
	span {
		span {
			color: $light-grey !important;
		}
	}
}

p,
mat-label,
.mat-typography p,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6 {
	margin: 0px;
	padding: 0px;
	color: $light-grey !important;
	font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
}

p {
	// letter-spacing: 1px;
	// font-weight: 500;
}

.mat-bottom-sheet-container {
	margin: 24px 24px 0px 24px !important;
	min-width: 85vw !important;
	border-radius: 12px !important;
	background: $light-accent-color;
}

// input,
// textarea,
// select:focus {
// 	font-size: 16px;
// 	color: white !important;
// 	// background-color: $light-grey;
// }

.mat-mdc-text-field-wrapper {
	color: $light-grey-button-text !important;
	background-color: transparent !important;
}

// input:focus, textarea:focus, select:focus{
//         outline: none;
//     }

// html,
// body {
// 	height: 100%;
// 	position: relative;
// 	overflow-y: scroll;
// 	overflow-x: hidden;
// 	max-width: 100vw;
// }
html, body {
	background-color: $primary-color;
	position:  fixed !important;
	margin: 0;
	left:0;
	bottom: 0;
	// padding-bottom: 48px;
	// height: 100vh;
	width: 100vw;
	// padding-bottom: 48px;
	// margin-bottom: 6vh;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
	overscroll-behavior-x: none !important;
	overscroll-behavior-y: none !important;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

// body.keyboard {
//     height: calc(100% + 500px); /* add padding for keyboard */
// }
// app-profile {
// 	width: 100% !important;
// 	height: 100% !important;
// 	position: relative !important;
// }

// app-explore {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100vw !important;
// 	height: 100% !important;
// 	overflow-y: hidden !important;
// 	overflow-x: hidden !important;
// 	// margin-bottom: 6vh;
// }
// app-user-stories {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100vw !important;
// 	height: 100% !important;
// 	overflow-y: hidden !important;
// 	overflow-x: hidden !important;
// 	margin-bottom: 6vh;
// }

// add-story {
// 	position: absolute;
// 	top:0;
// 	left: 0;
// 	width: 100vw;
// 	height: 94vh;
// 	margin-bottom: 6vh;
// 	overflow-y: hidden;
// 	overflow-x: hidden;
// }

// app-story {
// 	position: absolute;
// 	top:0;
// 	left: 0;
// 	width: 100vw;
// 	height: 94vh;
// 	margin-bottom: 6vh;
// 	overflow-y: hidden;
// 	overflow-x: hidden;
// }

.mat-card {
	background-color: $secondary-color;
	border-radius: 12px;
	padding: auto;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}

button {
	color: $light-grey;
}

.mat-mdc-dialog-container {
	background-color: transparent !important;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-select-trigger {
	border-bottom: none !important;
}

.mat-mdc-text-field-wrapper .mdc-line-ripple {
	display: none !important;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 2px solid #ccc;
  	border-radius: 4px;
  	// width: 24px;
  	// height: 24px;
	padding: 8px;
	margin: 8px;
  	display: inline-block;
  	position: relative;
  	// top: 4px;
  	background-color: white;
}

  /* Change the fill color of a checked checkbox */
  input[type="checkbox"]:checked {
	background-color: $main-color !important; /* replace with desired color */
	border-color: $main-color !important; /* replace with desired color */
  }
  