	
	<section class="update-card">
		<h1>Reset password.</h1>
		<form [formGroup]="resetPasswordForm">
			<input placeholder="Email" name="email" formControlName="email" />
			<input placeholder="Old Password" type="password" name="oldPassword" formControlName="oldPassword" />
			<input placeholder="Password" type="password" name="newPassword" formControlName="password" />
			<input placeholder="Confirm Password" type="password" name="confirmPassword"
				formControlName="confirmPassword" />
			<div class="button-container">
				<button (click)="resetPassword()">
					Save
				</button>
			</div>
		</form>
	</section>